---
import Textimg from "../components/Textimg.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="Container">
        <h1>Convierte el silencio en sonido</h1>
    </div>

    <div>
        <h2>Instrumentos de Calidad para Cada Músico</h2>
        <div class="Image_container">
            <div>
                <p>Teclados</p>
                <img src="Keyboard.jpg" />
            </div>
            <div>
                <img src="Drums.jpg" />
                <p>Baterias</p>
            </div>
            <div>
                <p>Guitarras</p>
                <img src="Eguitar2.jpg" />
            </div>
        </div>
    </div>

    <div class="Store">
        <h2>Explora Nuestra Colección</h2>
        <div class="Store">
            <img src="Eguitar.avif" alt="">
            <img src="Drums2.webp" alt="">
            <img src="Amp.webp" alt="">
        </div>
    </div>

    <div>
        <img src="" alt="">
        <h1>Forma parte de Nuestra Familia</h1>
        <h2>+50.000 Miembros</h2>
    </div>

    <div>
        <h3>Visitanos</h3>
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>

</Layout>

<style>
    .Container {
        width: 100%;
        height: 675px;
        background-image: url("Eguitarbg.jpg");
        background-size: cover;
    }
    .Container h1 {
        color: aliceblue;
        
    }

    .Image_container {
        display: flex;
        justify-content: space-between;
        padding: 10px 10%;
        background-color: rgb(9, 9, 85);
    }

    .Store {
        display: flex;
        justify-content: space-between;
    }

    .Store img {
        height: 300px;
    }

</style>
