---
import Textimg from "../components/Textimg.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="Container">
        <h1>Convierte el silencio en sonido</h1>
    </div>

    <div>
        <h2>Instrumentos de Calidad para Cada Músico</h2>
        <div class="Image_container">
            <Textimg title="Texto random 1" img="Keyboard.jpg" />
            <Textimg title="Texto random 2" img="Drums.jpg" />
            <Textimg title="Texto random 3" img="Eguitar.avif" />
        </div>
    </div>

    <div>
        <h2>Explora Nuestra Colección</h2>
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>

    <div>
        <img src="" alt="">
        <h1>Forma parte de Nuestra Familia</h1>
        <h2>+50.000 Miembros</h2>
    </div>

    <div>
        <h3>Visitanos</h3>
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>

</Layout>

<style>
    .Container {
        width: 100%;
        height: 675px;
        background-image: url("Eguitarbg.jpg");
        background-size: cover;
    }
    .Container h1 {
        color: aliceblue;
        
    }

    .Image_container {
        display: flex;
        justify-content: space-between;
        padding: 10px 10%;
    }

    .Background {
        width: 100% ;;
    }

</style>
