---
import Textimg from "../components/Textimg.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---
<Layout>
    <div>
        <img src="" alt="">
        <h1>Convierte el silencio en sonido</h1>
    </div>

    <div>
        <h2>Instrumentos de Calidad para Cada Músico</h2>
        <div>
            <Textimg title="Texto random 1" img="Free-Bird-mobile-hd-wallpaper.jpg" />
            <Textimg title="Texto random 2" img="Free-Bird-mobile-hd-wallpaper.jpg" />
            <Textimg title="Texto random 3" img="Free-Bird-mobile-hd-wallpaper.jpg" />
        </div>
    </div>

    <div>
        <h2>Explora Nuestra Colección</h2>
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>

    <div>
        <img src="" alt="">
        <h1>Forma parte de Nuestra Familia</h1>
        <h2>+50.000 Miembros</h2>
    </div>

    <div>
        <h3>Visitanos</h3>
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>

    <Footer></Footer>
</Layout>
Vista index
