---
import Textimg from "../components/Textimg.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---
<Layout>
    <div class="Container">
        <h1 class="Main-title">Convierte el silencio en sonido</h1>
        <img src="Eguitarbg.jpg" alt="">
    </div>

    <div class="Second-container">
        <h2 class="Subtitle">Instrumentos de Calidad para Cada Músico</h2>
        <div class="Image_container">
            <div>
                <p>Teclados</p>
                <img src="Keyboard.jpg" />
            </div>
            <div>
                <img src="Drums.jpg" />
                <p>Baterias</p>
            </div>
            <div>
                <p>Guitarras</p>
                <img src="Eguitar2.jpg" />
            </div>
        </div>
    </div>

    <div class="Store">
        <div class="Texts_cont">
            <h2 style="text-align: center;">Explora Nuestra Colección</h2>
            <h3 style="text-align: center;">Echa un vistazo a la tienda</h3>
            <div style="display: flex; justify-content: center;">
                <a href="/shop" style="width: 72px;">
                    <Icon name={"shop"} size={"72px"}>
                </a>
            </div>
        </div>
        <div class="Store">
            <div class="car">
                <img src="Drums2.webp" alt="">
                <img src="Amp.webp" alt="">
                <img src="bass.webp" alt="">
                <img src="Ramp.jpg" alt="">
                <img src="keyb.webp" alt="">
                <img src="Drums2.webp" alt="">
                <img src="Amp.webp" alt="">
                <img src="bass.webp" alt="">
                <img src="Ramp.jpg" alt="">
                <img src="keyb.webp" alt="">    
            </div>
        </div>
    </div>

    <div class="Bg_container">
        <h1>Forma Parte de Nuestra Familia</h1>
        <h2>+50.000 Miembros</h2>
    </div>

    <div class="Direction" id="location">
        <div class="Info">
            <h1>Visitanos</h1>
            <div class="Text-info">
                <div class="Section">
                    <h3>Contactanos</h3>
                    <p>Tel: (0212) 555-6789</p>
                    <p>Email: contacto@armoníarecords.com</p>
                </div>
                <div class="Section">
                    <h3>Horario</h3>
                    <p>Lunes - Viernes</p>
                    <p>7am - 5pm</p>
                    <p>Sábado</p>
                    <p>10am - 3pm</p>
                </div>
                <div class="Section">
                    <h3>Encuéntranos</h3>
                    <p>Calle del Pentagrama Nº 88 Sector Melodía</p>
                    <p>Ciudad Sonora</p>
                </div>
            </div>
        </div>
        <div class="Divider"></div>
        <div class="Location">
            <img src="building.jpg" alt="">
            <img src="locate.png" alt="">
        </div>
    </div>

</Layout>

<style>
    .Container {
        position: relative;
        overflow: hidden;
        height: 800px;
        background-color: black;
        z-index: -100;

    }
    .Container h1 {
        color: aliceblue;
        font-size: 54px;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        padding-left: 20px;
        padding-bottom: 2.5%;
    }

    .Container img {
        position: absolute;
        z-index: -99;
        width: 100%;
        object-fit: cover;
    }
        
    .Image_container {
        display: flex;
        justify-content: space-between;
        gap: 55px;
        background-color: #020E26;
        padding: 0px 5%;
    }

    .Second-container {
        background-color: #020E26;
    }

    .Subtitle {
        font-size: 36px;
        color: white;
        font-weight: 700;
        padding-left: 10px;
    }

    .Image_container p {
        color: white;
        font-size: 32px;
        font-weight: 600;
    }

    .Image_container div {
        padding: 10px;
    }

    .Store {
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .car {
        display: flex;
        width: calc(200%);
        animation: scroll 60s linear infinite;
    }

    .car img {
        width: 300px;
        height: auto;
        flex-shrink: 0;
        margin-right: 10px;
    }

    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(-50%); }
    }

    .Store img {
        height: 300px;
        padding: 10px;
    }

    .Texts_cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Texts_cont h2 {
        font-size: 36px;
        font-weight: 600;
        padding: 0px 20px;
    }

    .Texts_cont h3 {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 20px;
    }

    .Bg_container {
        background-image: url("Hands.jpg");
        width: 100%;
        background-size: cover;
        height: 800px;
    }

    .Bg_container h1 {
        color: white;
        font-size: 56px;
        font-weight: 700;
        padding-top: 100px;
        padding-left: 30px;
    }

    .Bg_container h2 {
        color: white;
        font-size: 36px;
        font-weight: 700;
        padding-left: 30px;

    }

    .Direction {
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, white 50%, #020E26 50%);
    }

    .Direction img {
        height: 300px;
        padding: 28px 10px;
    }

    .Location {
        display: flex;
        background-color: #020E26;
    }

    .Info h1 {
        color: black;
        font-size: 36px;
        font-weight: 600;
        padding-left: 56px;
        padding-top: 50px;
    }

    .Info {
        background-color: white;
    }

    .Text-info {
        display: flex;
        gap: 20px;
    }

    .Text-info p {
        text-align: center;
        color: black;
    }

    .Section h3 {
        color: black;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .Divider {
        width: 100px;
        height: 300px;
        background: linear-gradient(100deg, white 50%, #020E26 50%);
    }

</style>
