<header>
    <nav>
        <div>
            Logo
        </div>
        
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/prov">Provisional</a></li>
            <li><a href="/about-us">Sobre Nosotros</a></li>
        </ul>

    </nav>

</header>

<style>
    ul {
        display: flex;
        gap: 16px;
    }
</style>