---
import { Icon } from "astro-icon/components"
---

<header>
    <nav id="main">
        <div>
            <a href="/">
                <h1>CM</h1>
            </a>
        </div>    
        <div>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/shop">Tienda</a></li>
                <li><a href="/about-us">Sobre Nosotros</a></li>
            </ul>
        </div>

        <div class="Buttons">
            <a href="/#location">
                <Icon name={"map-pin"} size={"36px"} class={"Icon"}/>
            </a>
        </div>
        
    </nav>

</header>

<style>

    ul {
        display: flex;
        gap: 16px;
    }

    nav {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    background-color: rgb(246, 246, 246);
    }

    h1 {
        padding-left: 20px;
        font-size: 52px;
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .Buttons {
        padding-right: 20px;
    }

    li a {
        font-size: 22px;
    }

    .Icon:hover {
        opacity: .5;
        transition: all .3s ease;
    }

</style>