---
interface Props {
    title: string
    img: string
    items: string
    price: number

}

const title = Astro.props.title
const image = Astro.props.img
const items = Astro.props.items
const price = Astro.props.price
---

<div class="Main">
    <div class="Container">
        <img src={image} alt="">
        <p class="Title">{title}</p>
    </div>
    <div class="Texts">
        <p>${price}</p>
        <p>{items}</p>
    </div>
    
</div>

<style>
    .Main {
        background-color: rgb(221, 221, 221);
        padding: 10px;
    }

    .Title {
        font-size: 16px;
        font-weight: 600;
    }

    .Texts {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    img {
        width: 100%;
        
        background-color: white;
        object-fit: cover;
        padding: auto;
    }

    .Container {
    }

</style>