---
interface Props {
    title: string
    img: string
    items: string
    price: number

}

const title = Astro.props.title
const image = Astro.props.img
const items = Astro.props.items
const price = Astro.props.price
---

<div class="main">
    <img src={image} alt="">
    <p>{title}</p>
    <div class="Texts">
        <p>{price}</p>
        <p>{items}</p>
    </div>
    
</div>

<style>
    img {

    }

    .main {
        background-color: white;
        padding: 10px;
    }

    .Texts {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
</style>