---
interface Props {
    title: string
    img: string

}

const title = Astro.props.title
const image = Astro.props.img
---

<div>
    <img src={image} alt="">
    <p>{title}</p>
</div>

<style>
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
</style>