---
// Codigo JS TS
---

<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Parangaricutirimucuaro</title>
	</head>

	<body>
		<header>
			<nav>
				<div>
					Logo
				</div>
				
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/prov">Provisional</a></li>
					<li><a href="/about-us">Sobre Nosotros</a></li>
				</ul>

			</nav>
	
		</header>

		<slot />
		
	</body>

</html>
